# Ignore Python virtual environments
env/
venv/
.venv/

# Ignore Python cache
__pycache__/
*.pyc
*.log
*.ipynb_checkpoints
.git

# Ignore system files
.DS_Store
Thumbs.db

# Ignore dataset and analysis files
data
annotation
datasets/
kaggle_fall_dataset/
processed_dataset/
annotated_fall_dataset/
demo_dataset/
hazard_dataset/
training_results/
training_metrics_*

# Ignore gradio
main/.gradio
main/__pycache__

# Saved Model
saved_model

# Files and Folders to ignore
scripts
*.ipynb

