# Ignore Python virtual environments
env/
venv/
.venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore system files
.DS_Store
Thumbs.db

# Ignore dataset files
data
fall_dataset
archive
scripts/archive
scripts/classification_data
demo_dataset

# Ignore gradio
main/.gradio

# Saved Model
saved_model