# Ignore Python virtual environments
env/
venv/
.venv/

# Ignore Python cache
__pycache__/
*.pyc
*.log
*.ipynb_checkpoints
.git

# Ignore system files
.DS_Store
Thumbs.db

# Ignore dataset files
data
annotated_fall_dataset
annotation
data
demo_dataset
hazard_dataset
kaggle_fall_dataset
processed_dataset

# Ignore gradio
main/.gradio
main/__pycache__

# Saved Model
saved_model

# Files and Folders to ignore
scripts
